/* Layout */
#home{
    background: #ffc107;
    color: white;
}

.caixa{
    padding: 60px 0;
    border-bottom: 1px solid #e5e5e5;
}

footer p a{
    margin: 5px 15px;
}
/* Formulario */
#caixa-formulario{
    height: 100%;
}

#form-cadastro{
    width: 80%;
}

#img-cadastro{
    height: 580px !important;
    margin: 0 auto !important;
}



